<%- include('partials/header.ejs') %>

<div class="container">
    <h1>Mini-Blog</h1>

    <div class="blog">
        <h2>Welcome to Mini-Blog</h2>
        <p>24 April 2024</p>
        <p>
            Mini-Blog is a small blog website where you can write yours thoughts,
            narrate a small story, talk about your favourite novel, and more.<br>
            <br>
            Whether you're an experienced writer or just starting out, we invite you to join our community 
            and contribute your ideas to the conversation. From personal anecdotes to creative endeavors, 
            from heartfelt reflections to inspiring insights, there's room for every topic on Mini-Blog.
            Every story, insight, and perspective has value, and we encourage you to contribute yours. 
            Remember, the beauty of blogging lies in its diversity, so feel free to write about whatever 
            inspires you as long as it's respectful to other users in our community.<br>
            <br>
            So go ahead, take that leap, and start with your first blog. Your words have the power to inform, entertain, 
            and inspire others. We're here to support you every step of the way. Happy writing!
        </p>
    </div>
    <hr/>

    <% if (!empty) { %>
        <% blogs.forEach(blog => { %>
            <div class="blog">
                <!-- TODO: Include and "Edited" tag if blog was edited -->
                <h2><%=blog.title%></h2>
                <p><%=today%></p>
                <p class="blog-body"><%=blog.content%></p>

                <div class="button-container">
                    <form class="form-edit" action="/editBlog" method="POST">
                        <input type="hidden" name="_method" value="GET">
                        <input type="hidden" name="blogId" value="<%=blog.id%>">
                        <button class="edit-btn" type="submit">
                            <img src="icons/edit_icon.svg" alt="edit icon"/>
                        </button>
                    </form>
                    <form class="form-delete" action="/delete" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="blogId" value="<%=blog.id%>">
                        <button class="delete-btn" type="submit">
                            <img src="icons/delete_icon.svg" alt="delete icon"/>
                        </button>
                    </form>
                </div>
            </div>
            <hr/>
        <% }); %>
    <%}%>
</div>

<%- include('partials/footer.ejs') %>